/* Gør at siden fylder hele vinduet */
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Styling af containeren som indeholder alle boblerne */
#bobbelContainer {

    /* Gør at boblerne kan placeres ved siden af hinanden */
    display: flex;

    align-items: center;

    /* Fordeler pladsen mellem boblerne */
    justify-content: space-around;
    /* Fordeler boblerne på rækker */
    flex-wrap: wrap;
}


/* Her styler vi hver enkelt bobbel */
.bobbel {

    /* Sætter bredden og højden på boblen */
    width: 500px;
    height: 300px;

    /* Billede */
    background-image: url("/image/sky.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    /* Gør boblen til en flex-container */
    display: flex;

    /* Tekst */
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 28px;
    font-weight: bold;
}



/* css til siden med fakta og myter */
#myteBtn,
#faktaBtn {

    width: 150px;
    height: 90px;

    /* Fjerner kanten på den oprindelige knap*/
    border: none;

    background-image: url("/image/sky.svg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    /* Fjerner baggrunden på knappen */
    background-color: transparent;

    font-size: 20px;
    font-weight: bold;

}


/* Centrerer hele indholdet */
#quizside {

    display: flex;

    flex-direction: column;

    align-items: center;

    margin-top: 100px;
}


/* Styler boksen rundt om udsagnet */
#udsagn {

    border: 3px solid #000000;

    border-radius: 20px;

    padding: 40px;

    width: 500px;

    text-align: center;

    background-color: white;

    font-size: 22px;

    margin-bottom: 30px;
}